<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Rails Tutorial App", root_path, :class => "brand" %>
          
      <div class="container nav-collapse">
        <ul class="nav pull-right">

          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>